.wp-block-aurora-design-blocks-cta-block {

    background: #f8f8f8;
    border: 1px solid #ddd;
}

.wp-block-aurora-design-blocks-cta-block.fixed:not(.editor-styles-wrapper *) {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    z-index: 1000;
}

/* 各位置の設定 */
.wp-block-aurora-design-blocks-cta-block.position-top-left:not(.editor-styles-wrapper *) {
    top: 0px;
    left: 0px;
}

.wp-block-aurora-design-blocks-cta-block.position-top-center:not(.editor-styles-wrapper *) {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}



.wp-block-aurora-design-blocks-cta-block.position-top-right:not(.editor-styles-wrapper *) {
    top: 0px;
    right: 0px;
}

.wp-block-aurora-design-blocks-cta-block.position-bottom-left:not(.editor-styles-wrapper *) {
    bottom: 0px;
    left: 0px;
}

.wp-block-aurora-design-blocks-cta-block.position-bottom-center:not(.editor-styles-wrapper *) {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.wp-block-aurora-design-blocks-cta-block.position-bottom-right:not(.editor-styles-wrapper *) {
    bottom: 0px;
    right: 0px;
}

.wp-block-aurora-design-blocks-cta-block.position-center-left:not(.editor-styles-wrapper *) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.wp-block-aurora-design-blocks-cta-block.position-center-right:not(.editor-styles-wrapper *) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}