.frame-line {
    border: 2px solid #ccc;
    padding: 1.5em;
    margin: 1em 0;
    position: relative;
    max-width: 300px;
}

/* ブロック全体の配置位置制御 */
.frame-line-left {
    margin-left: 0;
    margin-right: auto;
    /* または display: block; width調整など */
}

.frame-line-center {
    margin-left: auto;
    margin-right: auto;

    /* 必要に応じて幅制限 */
}

.frame-line-right {
    margin-left: auto;
    margin-right: 0;
}


.border-solid {
    border-style: solid;
}

.border-dashed {
    border-style: dashed;
}

.border-none {
    border: none;
}

.frame-line-title {
    position: absolute;
    top: -0.9em;
    background: white;
    padding: 0 0.5em;
    font-weight: bold;
}