.frame-line {
    border: 2px solid #ccc;
    padding: 0 1.5em;
    margin: 1em 0;
    position: relative;

}



.frame-line-title {
    position: absolute;
    top: -0.9em;
    background: white;
    padding: 0 0.5em;
    font-weight: bold;
}


/* 配置制御 */
.frame-line-title-left {
    left: 1em;
    right: auto;
}

.frame-line-title-center {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
}

.frame-line-title-right {
    right: 1em;
    left: auto;
}