name: Create Free Branch

on:
  push:
    branches:
      - master

jobs:
  create-free-branch:
    if: contains(github.event.head_commit.message, 'free')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Free用に不要ファイルを削除
        run: |
          rm -rf aurora-design-blocks-pro.php
          rm -rf assets
          rm -rf blocks
          rm -rf patterns
          rm -rf css/src/awesome-all.css
          rm -rf css/src/module.css
          rm -rf build/src/awesome-all.css
          rm -rf build/src/module.css
          rm -rf webfonts

      - name: Freeブランチを作成・更新
        run: |
          git config user.name github-actions
          git config user.email actions@github.com

          git checkout -B free
          git add -A
          git commit -m "Auto-generate free branch from master" || echo "No changes to commit"
          git push origin free --force
